.container{
  margin-left: 400px;
  margin-top: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: 500px;
  width: 750px;
  border: 1px solid;
}

.ret_add{
  text-align: left;
  padding-top: -140px;
}

.stamp{
  width: 160px;
  height: 150px;
  border: 1px solid;
  margin-left: 575px;
  margin-top: 5px;
}
